{% extends "layout.html" %}
{% block content %}
<div class="right-side">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

  <!-- SECCIÓN DE CAMARAS DE VIGILANCIA -->
  <div class="cameras-section">
    <!-- DETECCIÓN DE MASCOTAS (DIFERENCIA PERROS Y GATOS) -->
    
    <!-- CAMARA RECONOCIMIENTO FACIAL -->
    <div class="facial-recog">
      <p class="camera-name">Cámara 2</p>
      <img src="{{ url_for('videoStream') }}" alt="video streaming" class="video-streaming">
    </div>
  </div>

</div>

{% endblock %}