{% extends "layout.html" %}

{% block content %}
<div class="right-side">
    <h1 style="height: 2.8em; background-color: #f1f2f6; text-align: center; font-size: 20px; padding-top: 13px;">Familia</h1>
    <p class="form-description">Agregar a un familiar para que la cámara no lo detecte como intruso</p>
    <div class="right-bottom">
        <form class="add-family-form" action="/upload" method="post" enctype="multipart/form-data" id="form-add-new">
            <label for="fname" class="lbl-form">Nombre:</label>
            <input type="text" id="fname" name="fname" value="{{ name }}" class="field-fam-data" required="" pattern="[a-zA-Z]+" minlength="2"><br>
            <label for="lname" class="lbl-form">Apellidos:</label>
            <input type="text" id="lname" name="lname" value="{{ lname }}" class="field-fam-data" required="" pattern="[a-zA-ZÀ-ÿ\s]+" minlength="2"><br>
            <label for="lname" class="lbl-form">Celular:</label>
            <input placeholder="Ingrese su número de celular" type="text" id="num-cel" name="num-cel" value="{{ telef }}" class="field-fam-data" maxlength="9" minlength="9" pattern="[0-9]+"><br>
            <label for="uploadFile" class="lbluploadFile" id="lbluploadFile">Elegir Video</label>
            <input type="file" id="uploadFile" name="uploadFile" class="btn-choose-img" hidden required="" accept="video/*"><br>
            <input type="submit" value="Subir Video" class="btn-bottom" id="btn-accept" onclick="checkFile()">
            <input type="submit" value="Cancelar" class="btn-bottom" id="btn-cancel">
        </form>
        <form class="entrena-section" action="/entrena">
            <h2 class="entrena-text">Antes de entrenar al sistema, debes registrar un usuario</h2>
            <img src="{{ url_for('static', filename='source/img/bot.png') }}" alt="" class="bot-img">
            <input type="button" value="Iniciar Entrenamiento" class="btn-entrena {{ entrenaStatus }}" id="btn-entrena" onclick="ShowTrainingText(); location.href='/entrena'; deactivateEntrena();">
            <p id="training-text" class="training-text-status" style="background-color: #2ecc71;">{{ trainingText }}</p>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/texts.js') }}"></script>
{% endblock %}