{% extends "layout.html" %}

{% block content %}
<div class="right-side">
    <h1 style="height: 2.8em; background-color: #f1f2f6; text-align: center; font-size: 20px; padding-top: 13px;">Familia</h1>
    <p class="form-description">Agregar a un familiar para que la cámara no lo detecte como intruso</p>
    <div class="right-bottom">
        <form class="add-family-form" action="/upload" method="post" enctype="multipart/form-data" id="form-add-new">
            <label for="lname">ID</label><br>
            <input type="text" id="id-fam" name="idfam" value="1" class="field-fam-data field-id" readonly><br>
            <label for="fname">Nombre</label><br>
            <input type="text" id="fname" name="fname" value="{{ name }}" class="field-fam-data" required="" pattern="[a-zA-Z]+" minlength="2"><br>
            <label for="lname">Apellidos</label><br>
            <input type="text" id="lname" name="lname" value="{{ lname }}" class="field-fam-data" required="" pattern="[a-zA-ZÀ-ÿ\s]+" minlength="2"><br>
            <label for="lname">Número de celular (opcional)</label><br>
            <input type="text" id="num-cel" name="num-cel" value="{{ telef }}" class="field-fam-data" maxlength="9" minlength="9" pattern="[0-9]+"><!--<input type="checkbox" class="check-num">--><br><br>
            <label for="uploadFile" class="lbluploadFile" id="lbluploadFile">Seleccionar Video</label>
            <input type="file" id="uploadFile" name="uploadFile" class="btn-choose-img" hidden required="" accept="video/*"><br>
            <input type="submit" value="Subir Video" class="btn-bottom" id="btn-accept" onclick="checkFile()"><br>
            <input type="submit" value="Cancelar" class="btn-bottom" id="btn-cancel">
        </form>
        <div class="entrena-section">
            <input type="button" value="Iniciar Entrenamiento" class="btn-entrena">
        </div>
    </div>
</div>
{% endblock %}